* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 300;
}
@font-face {
    font-family: Montserrat-Italic;
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat-VariableFont;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body2{
    background-image: url(../img/magelannnnn.webp);
    background-size: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
 .body1{
    width:100% ;
 height: 100vh;
 /* overflow: hidden; */
 background-image: linear-gradient(to right,  var(--blue),var(--green))
 /* background-image: linear-gradient(to right,  #0F2027 50%,#203A43 50%); */
 }
 .toggle{
    font-size: 45px;
    color: rgb(0, 0, 0);
    position: absolute;
    margin-left: 450px;
}
.toggle1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: absolute;
}
/***********************************/
/***********************************/
/***********************************/
:root{
    --blue: #a6a6a6;
     --green: #d0d0d0;
     --wight: #FFFFFF;
     --brown:#0d2b1d;
     --red:#6b8f71;
     --black:#e3efd3;
     --gamwirvale:rgba(255, 255, 255, 0.6);
     --darktextcolor:#000000;
     --lighttextcolor:#ffffff;
 }


 body{
    width:100%;
    height: 100vh;
    /* overflow: hidden; */
    background-image: linear-gradient(to right,  var(--blue),var(--green));
    /* background-image: linear-gradient(to right,  #0F2027 50%,#203A43 50%); */ 
 }
/***********************************/
/***********************************/
/***********************************/
h1 a {
    font-size: 50px;
    color: #ffffff;
    font-family: Montserrat-VariableFont;

}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Michelin-Starred {
    font-size: 72px;
    color: #000000;
    text-align: center;
    font-family: Montserrat-VariableFont;
    margin-top: 160px;
}
.Michelin-Starred span {
    display: block;
}
.the {
    color: #000000;
    font-size: 35px;
    width: 908px;
    text-align: center;
    margin: 24px auto;
    font-family: Montserrat-VariableFont;
    margin-bottom: 160px;
}
/* .velto2 a {
    font-family: Montserrat-VariableFont;
    color: #000000;
    font-size: 20px;
}
.velto3 a {
    font-family: Montserrat-VariableFont;
    color: #000000;
    font-size: 20px;
} */
.velto4 a{
    font-size: 100px;
    color: #000000;
    font-family: Montserrat-VariableFont;
margin-top: 36px;
margin-left: 76px;
}
.velto1 a{
    color: #FFFFFF;
    font-size: 50px;
    margin-right: 50px;
    margin-right: 20px;
}
.velto5 a{
    color: #FFFFFF;
    font-family: Montserrat-VariableFont;
    font-size: 50px;
    margin-right: 50px;
}
.velto a{
    /* width: 100px;
    height: 100px; */
    font-size: 50px;
}
/***********************************/
/***********************************/
/***********************************/
.yvela{

}
.innerimage p{
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
text-align: center;
background-color: rgba(48, 48, 48, 0.65);
padding-top: 20px;
color: #FFFFFF;
overflow: hidden;
transition: 0.4s;
margin-left: 1px;
border-radius: 10px 10px 10px 10px;
font-size: 20px;
}
.innerimage div {
    position: relative;
}
.innerimage div:hover p{
    height: 150px;
    width: 250px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.yvela img{
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    height: 150px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.yvela div a{
    font-size: 20px;
color: #4DC7A0;
font-weight: 600;
margin-right: 4px;
}
/***********************************/
/***********************************/
/***********************************/
.kont{
    color: #00d773;
}
.record{
    color: #00d773;
}
.kitxva {
color: #FFFFFF;
}
/***********************************/
/***********************************/
/***********************************/
.item{
    /* position: absolute; */
        /* top: 0;
        left: 0; */
        height: 200px;
        /* width: 0; */
        text-align: center;
        /* background-color: rgba(255, 255, 255, 0.65); */
        padding-bottom: 20px;
        /* color: #FFFFFF; */
        /* overflow: hidden; */
        transition: 0.4s;
    }
    .button111 a{
        color: #ffffff;
        font-size: 30px;
        font-family: Montserrat-VariableFont;
        text-align: center;
        width: 180px;
        height: 70px;
        margin: 66px auto;
        display: block;
        border-radius: 12px;
        background-color: #000000;
        margin-top: 66px;
        margin-bottom: 66px;
        padding: 14px 20px;
    }
/***********************************/
/***********************************/
/***********************************/
.rukebi a img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}
.innerimages p{
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
text-align: center;
background-color: rgba(43, 43, 43, 0.65);
padding-top: 20px;
color: #FFFFFF;
overflow: hidden;
transition: 0.4s;
}
.innerimages div {
    position: relative;
}
.innerimages div:hover p{
    height: 90%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

/***********************************/
/***********************************/
/***********************************/
.mainartikle{
    height: 400px;
    width: 600px;
    background-color: #d5d5d5;
    overflow: hidden;
    border-radius: 10% 10% 10% 10%;
   
    color: rgb(0, 0, 0);
    margin-left: 100px;
}
.limon{
    background-color: #848484;
    
}
.fortoxali{
    background-color: #616161;
    color: #FFFFFF;
    
}
.mango{
    background-color: #373737;
    color: #ffffff;
    
}
.mainartikle div{
    width: 100%;
height: 200px;
overflow: hidden;
}
.mainartikle div img{
    width: 100%;
}
.mainartikle section{
    padding: 14px 68px 12px 12px;
}
.mainartikle section p{
margin: 14px 0;
height: 80%;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
width: 300x;

}
.mainartikle section h2{
font-size: 40px;
}
.mainartikle section p a{
color: rgba(255, 255, 255, 0.8);
text-decoration: underline;
list-style-type: none;
    text-decoration: none;
    font-size: 19px;
}
.mainartiklee section p a{
color: rgba(0, 0, 0, 0.8);
text-decoration: underline;
list-style-type: none;
    text-decoration: none;
    font-size: 19px;
}
.articlcontainer{
    display: flex;
    /* justify-content: space-between; */
    padding: 34px 34px 48px 34px;
    margin-left: -100px;
}
/***********************************/
/***********************************/
/***********************************/
.oifjrikhf{

}
header{
    padding: 28px 72px;
    /* align-items: center; */
    /* display: flex; */
     background-image: linear-gradient(to right,  var(--brown),var(--black));
}
    header ul  a:hover{
        color:#393939 ;
        transition: 0.2;
    }
.header4{
    background-image: linear-gradient(to right,#ffffff,rgb(28, 28, 28));
} 
.header4 ul a:hover{
    color: #858585;
    transition: 0.5;
}   
    .itf{
    width: 128px;
margin: auto;
margin-top: 30px;
}
footer {
    width: 100%;
    background-color: #1c1c1c;
    color: #fff; /* ტექსტი თეთრად */
    padding: 10px 0;
height: 100px;
}
.footer2{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1c1c1c;
    color: #fff; /* ტექსტი თეთრად */
    padding: 10px 0;
height: 100px;
}
/***********************************/
/***********************************/
/***********************************/
.wvenebisphotoebi{
    /* width: 1350px; */
    }
.dishes_cintainer {
    /* width: 540px; */
    position: relative;
    margin-bottom: 80px;
    margin-left: 100px;
    margin-top: 50px;
}

.dishes_cintainer .sawmelebi {
    /* width: 168px;
    height: 168px; */
}

.dishes_cintainer .sawmelebi img {
    width: 100%;
    /* margin-right:300px; */
    /* margin-top: 400px; */
}

.dishes_cintainer section.flex {
    justify-content: center;
}
.dishes_cintainer section a{
    color: #000;
}
.dishes_cintainer section {
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 130px;
    padding: 24px 52px;
    font-size: 30px;
    font-family: Montserrat-VariableFont;
    position: absolute; 
    top: 10px;
    left: 170px;
}
.dishes_cintainer.flex{
    justify-content: flex-start;
}
.dishes_cintainer_flex.flex {
    flex-wrap: wrap;
}

.dishes_cintainer_flex {
    /* width: 2100px; */
    /* margin: 0 auto; */
}
.dishes_cintainer section  a{
font-size: 20px;
}
 
.dishes_cintainer {
    width: 650px;
    position: relative;
    margin-bottom: 100px;
    height: 180px;
}

.dishes_cintainer .sawmelebi {
    width: 200px;
    height: 100px;
}

.dishes_cintainer .sawmelebi img {
     width: 200px;
    height: 150px;
    border-radius: 10px 10px 10px 10px; 
 
}

.dishes_cintainer section.flex {
    justify-content: center;
}
/* 
.dishes_cintainer section {
    width: 390px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px #b1b1b1;
    border-radius: 20px;
    height: 100px;
    padding: 24px 52px;
    font-size: 16px;
    font-family: Montserrat-VariableFont;
    position: absolute;
    top: 34px;
    left: 142px;
} */

.dishes_cintainer_flex.flex {
    flex-wrap: wrap;
}

/* .dishes_cintainer_flex {
    width: 1358px;
    margin: 0 auto;
} */
/***********************************/
/***********************************/
/***********************************/
.romel{
    background: #ffffff;
    border-radius: 20px;
    width: 400px;
    height: 60px;
    font-size: 20px;
    padding: 16px 20px 20px 20px;
    margin: 0 auto;
}
.mamardasay p{
    background: #ffffff;
    border-radius: 20px;
    width: 900px;
    height: 150px;
    font-size: 40px;
    text-align: center;
    transition: 2s;
    display: none;
    padding: 40px 20px 40px 60px;
}
.button{
    background: #e7e2ff;
    color: #00001e;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #c8bbff;
    text-align: center;
    cursor: pointer;
    margin: 50px auto;
    font-size: 20px;
    padding: 10px 20px 10px 17px;
}
.button1{
    background: #e7e2ff;
    color: #00001e;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid #c8bbff;
    text-align: center;
    cursor: pointer;
    margin: 50px auto;
    font-size: 20px;
    padding: 20px 20px 20px 16px;
}
.button:hover{
    background: #beb0fc;
}
.answer{
    margin-left: 1px;
    width: 300px;
    height: 70px;
    font-weight: 10;
    border-radius: 20px;
    font-size: 10px;
}
input{
    font-size: 25px;
    margin-left: 10px;
}
.answer input{
    width: 40px;
    height: 70px;
    padding: 20px;
    outline: none;
    display: none;
    font-weight: 300;
    font-size: 25px;
}
.checkanswer{
    width: 40px;
    height: 70px;
    background-image: url(../img/check.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: none;
    background-color: #beb0fc;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
}
.showanswer{
    text-align: center;
    font-size: 34px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 10px;
    text-shadow: 10px 10px 10px rgb(136, 117, 143);
}
.game-container {
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

/* ციფრის შესატყვისი ფორმა */
/* .guess-container {
    margin-bottom: 20px;
    margin-top: 10px;
} */

/* ტექსტი ზემოთ იყოს */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

/* შესავალი ციფრის სტილი */
/* input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
} */

/* შეტყობინებების სტილი */
.message {
    font-size: 60px;
    color: #000000;
}
.buttons-container {
    display: flex;
    justify-content: center; /* განლაგება შუაში */
    margin-bottom: 20px;
}
/* ღილაკების სტილი */
/* თამაშის ჩარჩო */
/***********************************/
/***********************************/
/***********************************/
.image-container img {
    width: 250px;
    height: 200px;
    transition: opacity 0.3s ease;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* შავი ფონი */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .image-overlay {
    opacity: 1; /* მაუსის შეტანისას გამოჩნდება */
}

.image-container a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
}
.surati a{
    color:rgba(0, 0, 0, 0);
}
/***********************************/
/***********************************/
/***********************************/
.australia{
    font-size: 50px;
    width: 2000px;
    margin-left: 30px;
    margin-top: 30px;
}
.h2hhh{
    font-size: 50px;
    color: #0084ff;
    margin-left: 30px;
    margin-top: 30px;
}
.p1{
    font-size: 25px;
    width: 500px;
    margin-left: 30px;
    margin-top: 30px;
}
.p2{
    font-size: 25px;
    width: 500px;
    margin-left: 30px;
    margin-top: 30px;
}
/***********************************/
/***********************************/
/***********************************/
.see a {
    font-family: Montserrat-VariableFont;
    color: #000000;
    border-radius: 25px;
    margin:  auto;
    text-align: center;
    display: block;
    padding: 66px 0 98px 0;
    font-size: 25px;
}
/***********************************/
/***********************************/
/***********************************/

/***********************************/
/***********************************/
/***********************************/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-button {
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: -2%;
    background-color: #6b8f71;
    border: 1px solid #0d2b1d;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 370px;
    height: 50px;
    text-align: center;
    padding: 10px 10px 10px 20px;
    border-radius: 10px 10px 10px 10px;
}
.dropdown-menu a {
    padding-right:20px ;
    color: rgb(255, 255, 255);
}
.dropdown:hover .dropdown-menu {
    display: block;
}